# Managed by ansible role core
#networking:
#  # whether co cleanup /etc/network/interfaces file
#  clean_default: false
#  # Generates /etc/network/interfaces.d/$name
#  interfaces:
#  - name: ens7
#    options:
#    address: 10.1.1.11
#    netmask: 255.255.255.0
#    gateway: 10.1.1.1
#    mtu: 1450
#  - name: ens9
#    method: dhcp

auto {{ internal_if }}
iface {{ internal_if }} inet static
  address {{ internal_ip }}
  netmask {{ internal_mask | default("255.255.255.0") }}
  mtu {{ internal_mtu | default("1440") }}

